body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,  rgb(167, 112, 239) 35%, rgb(114, 230, 253) 100%);
}

.navbar-brand {
    font-weight: bold;
    color: #007bff !important;
}

header {
    background: linear-gradient(90deg, rgb(114, 230, 253));
    color: white;
    padding: 50px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-light {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.0rem;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-size: 1.rem;
    margin-bottom: 1px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}
.custom-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.custom-card img {
    margin: auto;
}
