.login-body {
    display: block;
    background-color: white;
    font-family: sans-serif,Arial, Helvetica;  
}

form {
    width: 30%;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    margin-top: 90px;
}

img {
    height: 100px;
    width: 100px;
}

.form-control{
    color:black;
    border-bottom-color: black;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
}

.btn-primary {
    width: 100%;
}

.container{
    margin-top:80px;
}

.form-inline{
    max-width: 575px;
}

button img {
    width: 50px;
    height: 50px;
}
.bg-image {
    background: url("logos/Mokesell_logo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}