body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif,Arial, Helvetica;  
}

form {
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

img {
    height: 75px;
    width: 75px;
}

.form-control{
    color:black;
    border-bottom-color: black;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
}

.btn-primary {
    width: 100%;
}

.navbar{
    background-color: rgba(255, 255, 255, 1);
    width: auto;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 50px;
}

.navbar-brand {
    padding-bottom: 25px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.container{
    margin-top:80px;
}

.form-inline{
    max-width: 575px;
}